.homehero {
  width: 100%;
  height: 500px;
  background: linear-gradient(0deg, #fff, transparent 10%),
    url('../img/mountain-night.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* position: relative; */
  padding-top: 80px;
}

.name {
  font: 100px sans-serif;
  margin: 200px auto 0px;
  text-align: center;
  color: white;
  text-shadow: 2px 2px black;
}

.aboutme {
  font-size: 50px;
  margin: 20px auto 20px;
  text-align: center;
}

.pic {
  display: block;
  height: 250px;
  width: 250px;
  border-radius: 100%;
  margin-left: auto;
  border: solid 8px white;
  margin-right: auto;
  position: absolute;
  top: 600px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.intro {
  text-align: center;
  margin: 200px 20% 5%;
  font-size: 20px;
  line-height: 30px;
}

.list {
  text-decoration: none;
  color: black;
  margin: 20px;
  font-size: 30px;
  font-weight: bold;
}

.links {
  margin: 20px;
}

.react {
  display: inline-block;
  margin: 0 10px;
  width: 70px;
  height: 60px;
}

.css {
  height: 63px;
}

.logos {
  text-align: center;
}

.skills h2{
  font-size: 50px;
  margin: 40px auto 30px;
  text-align: center;
}

