

.contactme {
    color: white;
}

.email {
    margin-top: 20px;
}

.contacthero {
    width: 100%;
    height: 800px;
    background: linear-gradient(0deg, #fff, transparent 10%),
    url(http://getwallpapers.com/wallpaper/full/a/3/c/369745.jpg);    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* position: relative; */
    padding-top: 80px;
  }