.contactme {
  font: 100px sans-serif;
  margin: 280px auto 0px;
  text-align: center;
  color: white;
}

.contacthero {
  width: 100%;
  height: 800px;
  background: linear-gradient(0deg, #fff, transparent 10%),
    url("../img//moonlight.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* position: relative; */
  padding-top: 80px;
}

.reachout {
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reachout h2 {
  font-size: 50px;
  margin: 40px auto 30px;
  text-align: center;
}
.reachout a {
margin-top: 20px;
text-decoration: none;
background: #222;
border-radius: 3px;
padding: 10px 15px;
color:white;
}

.reachout a:hover{
  background-color: #555;
}

.thankyou {
  text-align: center;
  font-size: 30px;
}
