.contactme {
  font: 100px sans-serif;
  margin: 90px auto 0px;
  text-align: center;
  color: white;
}

.email {
  margin-top: 20px;
}

.contacthero {
  width: 100%;
  height: 800px;
  background: linear-gradient(0deg, #fff, transparent 10%),
    url("../img//moonlight.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* position: relative; */
  padding-top: 80px;
}

.reachout {
  margin: 50px;
}

.reachout h2 {
  font-size: 50px;
  margin: 40px auto 30px;
  text-align: center;
}

.thankyou {
  text-align: center;
  font-size: 30px;
}
